<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Tailwind CSS -->
  <script src="https://cdn.tailwindcss.com"></script>
  <!-- Título -->
  <title>Formulário Reativo</title>

</head>
<body>
  <main class="w-1/2 mx-auto my-20 mb-24">
    <h2 class="font-bold text-2xl text-customColor1">Dados do cadastro</h2>
    <div>

      <!-- Primeiro formulário com Driven Forms -->
      <form class="" id="formulario" #f="ngForm" (ngSubmit)="cadastrar()">
        <h3 class="font-bold text-base leading-6 text-customAzul my-12">Cadastro usuário com Tamplete-Driven</h3>

        <!-- Campo nome completo -->
        <div class="'my-1' mx-3 'my-1'">
          <label class="block font-bold text-base leading-6 text-customAzul ml-4" for="nome">Nome Completo</label>
          <input
            name="nome"
            id="nome"
            type="text"
            placeholder="Digite seu nome completo"
            class="border border-customAzul focus:border-2 px-4 py-2 block w-full rounded-lg focus:outline-none sm:text-sm focus:border-customAzul h-12"
            ngModel
            required
            minlength="3"
            #nome="ngModel"
          >
          <div *ngIf="(nome?.invalid && nome?.touched) || nome?.dirty">
            <app-mensagem class="text-customErro text-sm leading-6" *ngIf="nome.errors?.['required']" mensagem="O campo de nome deve ser preenchido."></app-mensagem>
            <app-mensagem class="text-customErro text-sm leading-6" *ngIf="nome.errors?.['minlength']" mensagem="O nome deve ter no mínimo 3 caracteres."></app-mensagem>
          </div>
        </div>

        <!-- Campo CPF -->
        <div class="'my-1' mx-3 'my-1'">
          <label class="block font-bold text-base leading-6 text-customAzul ml-4" for="cpf">CPF</label>
          <input
            name="cpf"
            id="cpf"
            type="text"
            placeholder="XXX.XXX.XXX.XX"
            class="border border-customAzul focus:border-2 px-4 py-2 block w-full rounded-lg focus:outline-none sm:text-sm focus:border-customAzul h-12"
            ngModel
            required
            minlength="11"
            pattern="(\(?\d{3}\)?\-?\d{3}\-?\d{3}\-?\d{2})"
            #cpf="ngModel"
          />
          <div *ngIf="(f.controls['cpf']?.invalid && f.controls['cpf']?.touched) || f.controls['cpf']?.dirty">
            <span class="text-customErro text-sm leading-6" *ngIf="f.controls['cpf']?.errors?.['required']">O campo de cpf deve ser preenchido.</span>
            <span class="text-customErro text-sm leading-6" *ngIf="f.controls['cpf']?.errors?.['pattern']">O cpf deve seguir o padrão: "XXX.XXX.XXX-XX".</span>
          </div>
        </div>

        <!-- Campo CNPJ -->
        <div class="'my-1' mx-3 'my-1'">
          <label class="block font-bold text-base leading-6 text-customAzul ml-4" for="cnpj">CNPJ</label>
          <input
            name="cnpj"
            id="cnpj"
            type="text"
            placeholder="XX.XXX.XXX/XXXX-XX" 
            class="border border-customAzul focus:border-2 px-4 py-2 block w-full rounded-lg focus:outline-none sm:text-sm focus:border-customAzul h-12"
            ngModel
            required
            minlength="14"
            pattern="(\(?\d{2}\)?\.?\d{3}\.?\d{3}\/?\d{4}\-?\d{2})"
            #cnpj="ngModel"
          />
          <div *ngIf="(cnpj?.invalid && cnpj?.touched) || cnpj?.dirty">
            <app-mensagem class="text-customErro text-sm leading-6" *ngIf="cnpj.errors?.['required']" mensagem="O campo de cnpj deve ser preenchido."></app-mensagem>
            <app-mensagem class="text-customErro text-sm leading-6" *ngIf="cnpj.errors?.['pattern']" mensagem="O cnpj deve seguir este padrão: XX.XXX.XXX/XXXX-XX."></app-mensagem>
          </div>
        </div>

        <!-- Campo e-mail -->
        <div class="'my-1' mx-3 'my-1'">
          <label class="block font-bold text-base leading-6 text-customAzul ml-4" for="email">E-mail</label>
          <input
            name="email"
            id="email"
            type="email"
            class="border border-customAzul focus:border-2 px-4 py-2 block w-full rounded-lg focus:outline-none sm:text-sm focus:border-customAzul h-12"
            placeholder="Digite o seu e-mail"
            ngModel
            required
            pattern="^[\w-.]+@([\w-]+\.)+[\w-]{2,4}$"
            #email="ngModel"
          />
          <div *ngIf="(f.controls['email']?.invalid && f.controls['email']?.touched) || f.controls['email']?.dirty">
            <span class="text-customErro text-sm leading-6" *ngIf="f.controls['email']?.errors?.['required']">O campo de email deve ser preenchido.</span>
            <span class="text-customErro text-sm leading-6" *ngIf="f.controls['email']?.errors?.['pattern']">O email deve seguir este padrão: "exemplo@exemplo.com</span>
          </div>
        </div>

        <!-- Campo botão -->
        <div class="flex justify-center items-center">
          <button type="submit" class="bg-customColor1 text-white font-bold leading-9 cursor-pointer float-right rounded-full transition duration-300 hover:bg-customColor2 px-8 py-4 m-8">Enviar formulário</button>
        </div>
      </form>
    </div>
  
      <!-- Segundo formulário -->
      <div class="formulario__container">
        <h3 class="font-bold text-base leading-6 text-customAzul my-12">Cadastro usuário com Reactive-Forms</h3>
        <form class="reactive__formulario" [formGroup]="formularioReactive" (ngSubmit)="cadastrar()">

          <!-- Campo nome completo -->
          <div class="'my-1' mx-3 'my-1'">
            <label class="block font-bold text-base leading-6 text-customAzul ml-4" for="nome">Nome</label>
            <input
              formControlName="nome"
              id="nome"
              type="text"
              placeholder="Digite seu nome"
              class="border border-customAzul focus:border-2 px-4 py-2 block w-full rounded-lg focus:outline-none sm:text-sm focus:border-customAzul h-12"
            />
            <div *ngIf="formularioReactive.get('nome')?.invalid && (formularioReactive.get('nome')?.dirty || formularioReactive.get('nome')?.touched)">
              <span class="text-customErro text-sm leading-6" *ngIf="formularioReactive.get('nome')?.errors?.['required']">O campo de nome deve ser preenchido.</span>
              <span class="text-customErro text-sm leading-6" *ngIf="formularioReactive.get('nome')?.errors?.['minlength']">O nome deve ter no mínimo 3 caracteres.</span>
            </div>
          </div>
        
          <!-- Campo CPF -->
          <div class="'my-1' mx-3 'my-1'">
            <label class="block font-bold text-base leading-6 text-customAzul ml-4" for="cpf">CPF</label>
            <input
              formControlName="cpf"
              id="cpf"
              type="text"
              placeholder="XXX.XXX.XXX-XX"
              class="border border-customAzul focus:border-2 px-4 py-2 block w-full rounded-lg focus:outline-none sm:text-sm focus:border-customAzul h-12"
            />
            <div *ngIf="formularioReactive.get('cpf')?.invalid && (formularioReactive.get('cpf')?.dirty || formularioReactive.get('cpf')?.touched)">
              <span class="text-customErro text-sm leading-6" *ngIf="formularioReactive.get('cpf')?.errors?.['required']">O campo de cpf deve ser preenchido.</span>
              <span class="text-customErro text-sm leading-6" *ngIf="formularioReactive.get('cpf')?.errors?.['pattern']">O cpf deve seguir o padrão: "XXX.XXX.XXX-XX".</span>
            </div>
          </div>

          <!-- Campo CNPJ -->
          <div class="'my-1' mx-3 'my-1'">
            <label class="block font-bold text-base leading-6 text-customAzul ml-4" for="cnpj">CNPJ</label>
            <input
              formControlName="cnpj"
              id="cnpj"
              type="text"
              placeholder="XX.XXX.XXX/XXXX-XX"
              class="border border-customAzul rounded-xl px-4 py-2 w-full"
            />
            <div *ngIf="formularioReactive.get('cnpj')?.invalid && (formularioReactive.get('cnpj')?.dirty || formularioReactive.get('cnpj')?.touched)">
              <span class="text-customErro text-sm leading-6" *ngIf="formularioReactive.get('cnpj')?.errors?.['required']">O campo de cnpj deve ser preenchido.</span>
              <span class="text-customErro text-sm leading-6" *ngIf="formularioReactive.get('cnpj')?.errors?.['pattern']">O cnpj deve seguir este padrão: XX.XXX.XXX/XXXX-XX.</span>
            </div>
          </div>

          <!-- Campo email -->
          <div class="'my-1' mx-3 'my-1'">
            <label class="block font-bold text-base leading-6 text-customAzul ml-4" for="email">E-mail</label>
            <input
              formControlName="email"
              id="email"
              type="email"
              placeholder="Digite seu e-mail"
              class="border border-customAzul focus:border-2 px-4 py-2 block w-full rounded-lg focus:outline-none sm:text-sm focus:border-customAzul h-12"
            />
            <div *ngIf="formularioReactive.get('email')?.invalid && (formularioReactive.get('email')?.dirty || formularioReactive.get('email')?.touched)">
              <span class="text-customErro text-sm leading-6" *ngIf="formularioReactive.get('email')?.errors?.['required']">O campo de e-mail deve ser preenchido.</span>
              <span class="text-customErro text-sm leading-6" *ngIf="formularioReactive.get('email')?.errors?.['pattern']">O e-mail deve seguir o padrão: exemplo@exemplo.com</span>
            </div>
          </div>

          <!-- Campo botão -->
          <div class="flex justify-center items-center">
            <button type="submit" class="bg-customColor1 text-white font-bold leading-9 cursor-pointer float-right rounded-full transition duration-300 hover:bg-customColor2 px-8 py-4 m-8">Enviar formulário</button>
          </div>
        </form>
      </div>
  </main>
  
</body>
</html>


