<section 
    class="bg-gradient-to-b from-azul-degrade to-transparent text-branco text-center p-4">
    <h2 
        class="text-xl font-bold">
        Cadastro finalizado
    </h2>
</section>
  
<main 
    class="shadow-md rounded-xl p-8 w-1/2 mx-auto my-20">
    <h2 
        class="font-bold text-2xl text-5F6F52">
        Sucesso!
    </h2>
    <h3 
        class="font-bold text-lg leading-7 text-azul mt-12 mb-8">
        Você finalizou seu cadastro!
    </h3>
    <p 
        class="font-normal">
        Caso deseje editar informações ou atualizá-las no futuro, é só acessar a página de perfil!
    </p>
</main>

